<!DOCTYPE html>
<html lang="en">
<head>
    <title>Random Stuff Generator</title>
    <meta charset='utf-8' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Like Lorem Ipsum, but for stuff. RandomStuff is an API that provides you with a randomly generated entities (users, locations, etc.). These entities can be used as placeholders in web mockups, and will save you time from creating your own placeholder information." />

    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <script type="text/javascript" src="js/jquery.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
